.quiz-card {
  padding: 0;
  margin-bottom: 1.5rem;
  z-index: 1;
  min-height: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
}

.quiz-card__main {
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  min-height: 1px;
}

.quiz-card__title {
  position: relative;
  font-family: 'Merriweather' !important;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: -.02rem;
  margin-bottom: 2rem;
  text-align: left;
}

.quiz-card__container {
  width: 100%;
  position: relative;
  max-width: 102rem;
  background: #fff;
}

.quiz-card__answers {
  padding: 1rem 0 2.5rem;
  border-top: .1rem solid #eaeaeb;
}

.figure-image {
  margin-bottom: 4rem;
  max-width: 100%;
}

.figure-image__image {
  max-width: 100%;
  max-height: 38rem;
}
