.quiz-answer {
  font-family: Lato !important;
  position: relative;
  display: block;
  font-size: 100%;
  vertical-align: baseline;
}

.quiz-answer__label {
  display: block;
  font-size: 1.6rem;
  user-select: none;
  word-wrap: break-word;
  cursor: pointer;
  transition: opacity .3s;
  color: #313537;
  padding: 2rem 2rem 2rem 6.5rem;
}

.quiz-answer__option {
  padding-left: 2rem;
}

.quiz-answer__icon {
  display: block;
  opacity: 0;
}

.quiz-answer__icon--show {
  opacity: 1;
  padding-top: 0.1rem; 
}

.quiz-answer:hover {
  background: #f7f7f8;
}

.quiz-answer__border--show {
  position: absolute;
  transition: width .45s, .3s;
  top: .5rem;
  left: 0;
  bottom: .5rem;
  width: 100%;
  border: .2rem solid rgba(49,53,55,.6);
  display: block;
}

.quiz-answer__border {
  display: none;
}

input[type="radio"]:not(:checked)+label:before, input[type="radio"]:not(:checked)+label:after, input[type="radio"]:checked+label:after, input[type="radio"].with-gap:checked+label:after, input[type="radio"]:disabled:checked+label:before {
  border: .1rem solid rgba(49,53,55,.6);
}

input[type="radio"]:not(:checked)+label, input[type="radio"]:checked+label {
  font-size: 1.6rem;
  padding: 2rem 2rem 4.5rem 2.5rem;
  display: inline-flex;
  color: #313537;
}

input[type="radio"]:disabled:checked+label:after {
  background-color: transparent;
  content: "";
}

input[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: transparent;
  content: "\00b7";
  font-size: 4rem;
  line-height: 30%;
  text-align: center;
  opacity: .6;
}

input[type="radio"]+label:before, input[type="radio"]+label:after {
  content: '';
  width: 2rem;
  height: 2rem;
  transition: .3s ease;
}

[type="radio"]:checked+label:before, [type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  margin: 2.5rem 2rem 2rem 2rem;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  text-align: center;
  width: 1.9rem;
  height: 1.8rem;
  font-size: .8rem;
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  pointer-events: none;
  transition: opacity .3s .3s;
}

.icon-tick:before {
  content: "\00b7"
}

@media (min-width: 48em) {
  .quiz-answer__label {
    padding: 3rem 2rem 3rem 8.5rem;
  }
  input[type="radio"]:not(:checked)+label, input[type="radio"]:checked+label {
    padding: 3rem 2rem 6rem 8.5rem;
  }
  [type="radio"]:checked+label:before, [type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
    margin: 3.5rem 2rem 2rem 2rem;
  } 
}

