.quiz-card {
  padding: 0;
  margin-bottom: 1.5rem;
  z-index: 1;
  min-height: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  vertical-align: baseline;
}

.quiz-card__main {
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  box-sizing: border-box;
  min-height: 1px;
}

.quiz-card__title {
  position: relative;
  font-family: 'Merriweather' !important;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2;
  letter-spacing: -.02rem;
  margin-bottom: 1rem;
  text-align: left;
}

.quiz-card__container {
  padding: 0;
  min-height: 31rem;
  box-shadow: none;
//  width: 100%;
//  position: relative;
//  max-width: 102rem;
//  background: #fff;
}

.quiz-card__row {
  margin: 0;
  padding: 0;
}

.quiz-card__main {
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.quiz-card__answers {
  padding: 1rem 0 2.5rem;
  border-top: .1rem solid #eaeaeb;
  margin-top: 1.5rem
}

.figure-image {
  margin-bottom: 4rem;
  max-width: 100%;
}

.figure-image__image {
  max-width: 100%;
  max-height: 38rem;
}

.quiz-card__actions {
  height: 4rem;
}

.quiz-card__actions--proceed {
  opacity: 0;
  height: 0;
  margin: 0;
  transition: height 0ms .3s, opacity .3s
}

.quiz-card__submit {
  box-sizing: border-box;
  height: 10rem;
  text-align: center;
}

.quiz-card__button {
  font-family: Lato !important;
  cursor: pointer;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  min-width: 10rem;
  max-width: 17rem;
  height: 4rem;
  font-weight: 700;
  letter-spacing: .04rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  line-height: 3.4rem;
  text-overflow: ellipsis;
  color: #fff;
  background-color: #747a7e;
  border: 2px solid transparent;
  border-radius: 2rem;
  box-sizing: border-box;
  transition: background .3s, color .3s, opacity .3s;
}

.quiz-card__button:hover:enabled {
  opacity: .7;
  transition: opacity .3s;
}

.quiz-card__button:disabled {
  background-color: silver;
}

.button-background {
  background-color: #747a7e !important;
}

.quiz-card__button--disabled {
  pointer-events: none;
}

.quiz-card__feedback {
  position: relative;
  min-height: 5rem;
  max-height: 50rem;
  padding-bottom: 0;
  transition: max-height 1s linear .3s, min-height 0ms .3s;
  display: none;
}

.quiz-card__feedback-wrap {
  position: relative;
  opacity: 1;
  transform: scale(1.1);
  transition: opacity .6s .6s, transform .6s .6s,-webkit-transform .6s .6s;
  padding-left: 15%;
  padding-right: 15%;
}

.quiz-card__feedback .quiz-card__row {
  position: relative;
  padding-top: 0;
  padding-bottom: 2rem;
}

.block-knowledge .quiz-card__feedback--frame .quiz-card__feedback-wrap {
  padding-top: 2rem;
}

.quiz-card__feedback--frame .quiz-card__feedback-wrap {
  background-color: #f8f8f8;
  margin-bottom: 3rem;
  padding-bottom: 1.5rem;
}

.quiz-card__feedback-icon {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  opacity: 1;
  text-align: center;
  line-height: 6rem;
  border-radius: 50%;
  border: .2rem solid #cacbcb;
  transition: opacity .6s .9s,transform .6s .9s,-webkit-transform .6s .9s;
}

.quiz-card__feedback--correct {
  display: block;
}

.quiz-card__feedback--incorrect {
  display: block; 
}

.icon-cross:before {
  position: relative;
  content: "\ea0f";
  width: 3rem;
  height: 3rem;
  font-size: 1.3rem;
  font-family: 'IcoMoon-Free' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.icon-check:before {
  position: relative;
  height: 3rem;
  content: "\ea10";
  font-size: 1.9rem;
  font-family: 'IcoMoon-Free' !important;
  font-style: normal;
  font-weight: normal;
  line-height: 3;
}

.quiz-card__feedback-label {
  margin-top: .5rem;
  letter-spacing: .02em;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
}

.quiz-card__feedback-text {
  font-family: 'Merriweather' !important;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: 1.7;
  font-weight: 300;
  font-size: 1.3rem;
  word-wrap: break-word;
  color: #5e5e5e;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
//  transition: opacity .6s 1.05s,transform .6s 1.05s,-webkit-transform .6s 1.05s;
}

@media (max-width: 40rem) {
  .quiz-card__feedback-wrap {
    display: inline-block;
  }
}

.icon-reload:before {
  content: "\e984";
  font-family: 'IcoMoon-Free' !important;
  font-style: normal;
  padding-right: 1rem;
}

.block-knowledge__retake {
  max-height: 2rem;
  letter-spacing: .8px;
  color: #313537;
  border: 0;
  background: transparent;
  transition: opacity .6s;
  outline: none;
  opacity: .3;
  pointer-events: all;
  font-size: 1.1rem;
  align-items: center;
  display: none;
  margin: 1rem  auto;
}

.block-knowledge__retake--show {
  display: block;
}

.block-knowledge__retake:hover {
  opacity: 1;
}

.block-knowledge__retake:focus { 
  background: transparent;
}
