.quiz-answer {
  font-family: Lato !important;
  position: relative;
  display: block;
  font-size: 100%;
}

.quiz-answer__label {
  display: block;
  font-size: 1.6rem;
  user-select: none;
  word-wrap: break-word;
  cursor: pointer;
  transition: opacity .3s;
  color: inherit;
  padding: 2rem 2rem 2rem 6.5rem;
}

.quiz-answer:hover {
  background: #f7f7f8;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after, [type="radio"]:checked+label:before, [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
//  display: none;
}

input[type="radio"]:not(:checked) + label, input[type="radio"]:checked + label {
  padding: 2rem 2rem 2rem 6.5rem;
}
.quiz-answer__input+.quiz-answer__label .quiz-answer__radio {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;  
  top: 3.2rem;
}

input[type="radio"]:not(:checked)+label, input[type="radio"]:checked+label {
  position: relative;
  font-size: 1.6rem;
  margin: 2rem;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 2;
  text-align: center;
  width: 1.9rem;
  height: 1.8rem;
  font-size: .8rem;
  font-family: 'IcoMoon-Free' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  pointer-events: none;
  transition: opacity .3s .3s;
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-tick:before {
  content: "\00b7"
}

@media (min-width: 48em) {
  .quiz-answer__label {
    padding: 3rem 2rem 3rem 8.5rem;
  }
}
